md-fab-speed-dial
  &.page-periodoLetivo-create-fabs
    md-fab-trigger
      .md-button.md-raised
        background-color #bf1b15

        ng-md-icon
          line-height 68px

          > svg
            fill #fff




.datepickerdemoBasicUsage md-content
  padding-bottom 200px

.datepickerdemoBasicUsage .validation-messages
  font-size 12px
  color #dd2c00
  -left 15px

.selectdemoBasicUsage md-input-container
  margin-right 10px

