.page-quadro-horario
  md-card
    md-card-title-text
      .md-subhead
        &.fix-padding
          padding-top 6px

          ng-md-icon
            top 1px

        ng-md-icon
          position relative
          top 6px
          margin-right 5px
          margin-left 5px

        ng-md-icon:first-of-type
          margin-left 0
