h2.aa Consultar eventos
.empty-message(ng-hide='$ctrl.parent.eventos.length')
  ng-md-icon(class='md-avatar' size='50%' icon='event' style='fill: #ccc')
  div Não há eventos.

md-card(ng-repeat='evento in $ctrl.parent.eventos')
  md-card-title
    md-card-title-media
      .md-media-lg.card-media(ng-show='$ctrl.showFirstLetterLogo(evento.universidade)')
        | {{evento.universidade.abreviacao | limitTo: 1: 0}}
      img(
        ng-src='{{$ctrl.getLogoImage(evento.universidade)}}'
        ng-show='$ctrl.showLogo(evento.universidade)'
      )
    md-card-title-text
      span.md-headline {{evento.titulo}}
      span.md-subhead(layout='row')
        span(flex='50')
          ng-md-icon(size='24' icon='event' style='fill: #ccc')
          | {{evento.dataInicio | date: 'dd/MM/yyyy': '-0300'}}
        span(flex='50')
          ng-md-icon(size='24' icon='access_time' style='fill: #ccc')
          | {{evento.horaInicio}}
      span.md-subhead(layout='row')
        span(flex='50')
          ng-md-icon(size='24' icon='account_balance' style='fill: #ccc')
          | {{evento.universidade.abreviacao}}
        span(flex='50')
          ng-md-icon(size='24' icon='location_on' style='fill: #ccc')
          | {{evento.unidade.nome}}
      span.md-subhead(layout='row')
        span(flex='50')
          ng-md-icon(size='24' icon='school' style='fill: #ccc')
          | {{evento.curso.abreviacao}}
        span(flex='50')
          ng-md-icon(size='24' icon='insert_emoticon' style='fill: #ccc')
          | {{evento.turma.nome}}
      span.md-subhead.fix-padding.block(layout='row')
        ng-md-icon(size='24' icon='brush' style='fill: #ccc')
        | {{evento.disciplina.nome}}
