.page-evento-read
  md-card
    overflow hidden

    md-card-title
      md-card-title-media
        width 110px

    md-card-title-text
      .md-headline
        white-space nowrap
        width 0

      .md-subhead
        &.fix-padding
          padding-top 0

          ng-md-icon
            top 1px

        &.block
          padding-top 5px

        &.clock
          padding-top 5px
          padding-bottom 0

        ng-md-icon
          position relative
          top 6px
          margin-right 5px
          margin-left 5px

        ng-md-icon:first-of-type
          margin-left 0
