section(class='splash-container')
  img(src='/logo.png' class='splash')
  md-button(
    class='md-raised splash-btn splash-login-btn'
    ng-href='/#/usuario/login'
  ) Logar
  md-button(
    class='md-raised splash-btn splash-signup-btn'
    ng-href='/#/usuario/create'
  ) Cadastre-se
