.splash-btn
  position fixed
  bottom 10%
  width 60%
  left 50%
  margin-left -30%

.splash-login-btn
  bottom 15%

.md-button.md-raised
  &.splash-signup-btn
    bottom 7%
    background-color #1565c0
    color #fff
