h2.aa Consulta
.empty-message(ng-hide='$ctrl.parent.cursos.length')
  ng-md-icon(class='md-avatar' size='50%' icon='place' style='fill: #ccc')
  div Não há cursos.

md-card(ng-repeat='curso in $ctrl.parent.cursos')
  md-card-title
    md-card-title-media
      .md-media-lg.card-media(ng-show='$ctrl.showFirstLetterLogo(curso.universidade)')
        | {{curso.universidade.abreviacao | limitTo: 1: 0}}
      img(
        ng-src='{{$ctrl.getLogoImage(curso.universidade)}}'
        ng-show='$ctrl.showLogo(curso.universidade)'
      )
    md-card-title-text
      span.md-headline {{curso.nome}}
      span.md-subhead {{curso.universidade.abreviacao}} - {{curso.unidade.nome}}
      .actions(layout='row')
        md-button(
          ng-href='{{$ctrl.getUpdateHref(curso)}}'
          aria-label='{{$ctrl.getUpdateAriaLabel(curso)}}'
        ) detalhes
