////
// Global scope
////
$default-color = #1565c0

md-toolbar
  z-index 3

.default-color
  md-toolbar
    background-color $default-color

.md-button
  &.md-raised
    &.md-primary:not([disabled])
      background-color $default-color

      svg
        fill #fff

      &:hover
        background-color $default-color

    &.md-primary[disabled]
      svg
        fill rgba(0,0,0,0.26) !important
  &.btn-row
    width 100%
    margin 6px 0

md-checkbox
  &:not([disabled]).md-primary.md-checked
    .md-icon
      background-color $default-color

.delete-btn
  &.md-button.md-raised
    background-color #c00000
    color #fff

    &:not([disabled]):hover
      background-color #c00000

md-input-container > md-select
  font-weight bold

.md-select-value .md-text
  font-weight normal

h2.aa
  text-align center
  color #444
  margin-top 15px
  margin-bottom 15px
  position relative

  &:after
    content ''
    position absolute
    bottom -9px
    left 50%
    margin-left -4px
    border-bottom 8px solid #ccc
    border-left 5px solid transparent
    border-right 5px solid transparent

.empty-message
  text-align center
  color #666

md-card
  margin 10px
  padding 0 10px 0 0 !important

  md-card-title
    padding 0

    md-card-title-media
      width 30%
      margin 0

      .md-media-lg
        background-color #ccc
        width 100%
        height 170px
        text-align center
        line-height 170px
        font-size 7em
        color #666
        text-transform uppercase

      img
        width 100%
        height 170px

    md-card-title-text
      position relative
      padding-top 8px

      & > :not(md-card-content)
        padding-left 12px

      & > .md-button
        width inherit
        margin-bottom 10%

      & > md-divider
        margin-top 10px

      & .actions
        position absolute
        bottom 0
        width 100%
        border-top 1px solid rgba(0, 0, 0, 0.12)

        .md-button
          color #888
          padding 0

          span, .md-ripple-container
            padding 0

  & > :not(md-card-content) img,
  & > img
    width 50%

////
// Page scope
////
.page-calendar
  & > section
    padding-top 35px

  #cal-week-box, .cal-day-tick
    display none

  .events-list
    z-index 1

  md-content
    section
      > header
        margin-top 30px

  .calendar-date
    position fixed
    width 80%
    top 64px
    background-color #08468C
    left 50%
    text-align center
    margin-left -40%
    border-bottom-left-radius 5px
    border-bottom-right-radius 5px
    box-shadow 0 0 5px rgba(0,0,0,.5)
    color #fff
    z-index 2

  @media only screen and (max-width: 959px) and (min-width: 0) and (orientation: portrait)
    md-toolbar
      min-height 56px;

    .calendar-date
      top 56px

    md-content
      section
        > header
          margin-top 30px

  @media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape)
    .md-toolbar-tools
      height: 48px;
      max-height: 48px;

    .calendar-date
      top 48px

    md-content
      section
        > header
          margin-top 22px

////
// FAB Buttons
////
md-fab-speed-dial
  &.page-calendar-fabs
    md-fab-trigger
      .md-fab.md-raised,
      .md-fab.md-raised:focus
        background-color #bf1b15

      a.md-button.md-default-theme.md-raised:not([disabled]):hover,
      a.md-button.md-raised:not([disabled]):hover,
      .md-button.md-default-theme.md-raised:not([disabled]):hover,
      .md-button.md-raised:not([disabled]):hover,
      .md-button.md-raised:not([disabled]).md-focused
        background-color #bf1b15

      a.md-button.md-default-theme.md-raised,
      a.md-button.md-raised,
      .md-button.md-default-theme.md-raised,
      .md-button.md-raised
        ng-md-icon
          line-height 68px

          > svg
            fill #fff

        &.default-color
          background-color $default-color

    a.md-button.md-default-theme.md-raised,
    a.md-button.md-raised,
    .md-button.md-default-theme.md-raised,
    .md-button.md-raised
      background-color #aaa

      ng-md-icon
        line-height 55px

        > svg
          fill #fff

      span
        color #fff
        font-size 1.6em

    .md-button.color-active.md-raised
      background-color #edb800
