.page-evento-create
  .empty-message
    .md-button
      padding 3px 15px

  .btn-icon
    padding-right 15px
    padding-left 10px

    ng-md-icon
      svg
        position relative
        top 5px
