md-fab-speed-dial
  &.page-curso-read-fabs
    md-fab-trigger
      .md-button.md-raised
        background-color #bf1b15

        ng-md-icon
          line-height 68px

          > svg
            fill #fff
