toolbar
  & > md-toolbar
    position fixed
    left 0
    top 0
    box-shadow 0 0 10px rgba(0,0,0,.5)

    .md-button.md-icon-button
      margin 0

    .md-toolbar-tools
      > .title.hand
        cursor pointer

      h1, h2, h3
        color #fff
        font-weight 500

    .right-button
      font-weight bold

    .md-menu
      margin initial
      padding initial


md-sidenav
  position fixed
  top 0
  left 0

  md-toolbar
    padding-top 170px
    position relative
    overflow hidden

    .toolbar-background
      position absolute
      width 110%
      height 170%
      top -55%
      left -5%
      background-color #ccc
      z-index 0
      background-size cover
      display block
      filter blur(5px)
      -webkit-filter blur(5px)

    .settings
      position absolute
      right 0
      top 0
      fill #fff
      padding 10px
      margin 0 !important
      width 47px !important
      height 47px !important
      background-color rgba(0,0,0,.25)
      border-radius 0 !important
      border-bottom-left-radius: 10px !important;

    .avatar
      width 90px
      height 90px
      position absolute
      border-radius 50px
      left 10px
      top 10px

    .md-toolbar-tools
      z-index 1
      font-weight 500
      color #fff
      position absolute
      bottom 0
      background-color rgba(0,0,0,.2)
      font-size .85em

  & > md-content
    & > md-list
      .md-subheader
        line-height 1.8em

      & md-list-item
        .md-button
          font-weight 500
      .md-button:not([disabled]):hover
        background-color inherit
        color inherit

      & > .sublist
        border 1px solid red

      & > md-list
        color #999
        background-color #eee

        svg
          fill #aaa

      & > md-list-item:not(.no-arrow)
        position relative


        .md-list-item-inner:after
          content ''
          position absolute
          border-top 7px solid transparent
          border-right 7px solid #606060
          border-bottom 7px solid transparent
          top 50%
          right 15px
          margin-top -6px

      & > md-list-item.expanded
        .md-list-item-inner:after
          transform: rotate(-90deg);

    md-list
      md-list-item
        & > a
          margin 0

        .md-avatar, .md-list-item-inner .md-avatar
          width 30px
          height 30px
          fill #606060

md-backdrop
  position fixed
  top 0
  left 0
