md-toolbar
  .md-toolbar-tools
    > .title.hand
      cursor pointer

md-list
  md-list-item
    & > a
      margin 0

md-list-item
  .md-avatar, .md-list-item-inner .md-avatar
    width 30px
    height 30px
    fill #606060
