.page-create-unidade
  h2
    text-align center
    color #444
    margin-bottom 0
    margin-top 10px
    padding-bottom 0

  form
    md-input-container
      md-select
        font-weight bold

      md-checkbox
        color rgba(0,0,0,.26)
        font-weight bold

        &:not([disabled]).md-primary.md-checked .md-icon
          background-color #1565c0

        & > .md-container
          left auto
          right -40px

        .md-label
          margin 0
