.page-read-universidade
  .empty-message
    margin-top 30px

  md-card
    md-card-title-text
      .md-subhead
        &.fix-padding
          padding-top 6px

          ng-md-icon
            top 1px

        ng-md-icon
          position relative
          top 6px
          margin-right 5px
          margin-left 5px

        ng-md-icon:first-of-type
          margin-left 0

md-tabs
  md-ink-bar
    color #1565c0
    background #1565c0

  .md-tab.md-active
    color #1565c0
