.page-evento-read
  .filters
    md-input-container
      &:last-of-type
        margin-bottom 0

      md-select
        .md-select-value.md-select-placeholder
          font-weight bold

    > .actions:last-of-type:last-child
      padding 0
