.page-quadro-horario
  md-card
    &.card-add-aula
      md-card-title
        md-card-title-media
          .md-media-lg.card-media
            background #ddd

            ng-md-icon
              height inherit
              displa inline-block
              fill #aaa

              svg
                height inherit

        md-card-title-text
          ng-md-icon
            fill #ccc

          span.md-headline
            margin-top 10px
            margin-bottom 8px
            color #777

          span.md-subhead
            .empty-row
              border-radius 3px
              background #ddd
              width 70%
              height 15px
              display inline-block
